.logo {
    color: #50B848;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.title {
    color: #000000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input_password, .input_login {
    border-radius: 4px;
    border: 1px solid #BFBFBF;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    width: 80%;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 15px;
}

.button_submit {
    border-radius: 6px;
    border: none;
    background: #50B848;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    width: 35%;
    height: 40px;
    margin-bottom: 10px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    margin-top: 26px;
}

.forgot_password {
    color: #000000;
    font-family: 'Verdana', sans-serif;
    font-size: small;
}

.register {
    color: #000000;
    font-family: 'Verdana', sans-serif;
    font-size: small;
}

.green__line {
    height: 3px;
    background: #50B848;
    width: 50%;
    display: block;
    margin: 0 auto;
}

.input_login::placeholder {
    color: #AEAEAE;;
}
.input_login::-webkit-input-placeholder {
    color: #AEAEAE;
}
.input_login::-ms-input-placeholder {
    color: #AEAEAE;
}
.input_login:-moz-placeholder {
    color: #AEAEAE;opacity: 1;
}
.input_login::-moz-placeholder {
    color: #AEAEAE;opacity: 1;
}
.input_login:-ms-input-placeholder {
    color: #AEAEAE;
}


.input_password::placeholder {
    color: #AEAEAE;;
}
.input_password::-webkit-input-placeholder {
    color: #AEAEAE;
}
.input_password::-ms-input-placeholder {
    color: #AEAEAE;
}
.input_password:-moz-placeholder {
    color: #AEAEAE;opacity: 1;
}
.input_password::-moz-placeholder {
    color: #AEAEAE;opacity: 1;
}
.input_password:-ms-input-placeholder {
    color: #AEAEAE;
}